.contact-form__form {
  display: none;
}

.modal-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 10000;
}

.modal-container {
  position: fixed;
  background-color: #f2f2f2;
  padding: 3rem 2.5rem;
  max-width: 31.125rem;
  top: 10rem;
  right: 3rem;
  z-index: 100000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
