.lm-hero .lm-hero__left .lm-hero__header {
  max-width: 35rem;
  margin: 0.5rem 0 2rem;
}

.lm-hero .lm-hero__left {
  padding: 1rem 1rem 1rem 2rem;
}

.lm-hero .lm-hero__left .lm-hero__image {
  width: 38rem;
}

.custom-vp {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 600px;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 1rem;
  list-style: none;
  padding-left: 0;
}

/* Hide youtube modal */
.v-modal {
  display: none;
}

.video-player {
  display: none;
}